* {
    font-family: "Roboto";
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  90vh;
    flex-direction: column;
    overflow-y: auto;
}

li {
    list-style: none;
    font-size: 24px;
    padding: 5px;
    transition: transform 0.3s ease;
    border: 2px solid black;
    color: white;
    background-color: blueviolet;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 6px;
}

li.active {
    opacity: 1;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 18px;
    background-color:blueviolet;
    font-weight: bolder;
    font-size: 64px;
    color:white;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(95, 0, 136); 
    cursor: pointer;
}


ul {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 3px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(195, 142, 244); 
    border-radius: 6px; 
}

::-webkit-scrollbar-corner {
    background:black; 
    border-radius: 6px; 
}